name: Update Mock Chirp

on:
  workflow_dispatch:  # Allows the workflow to be run manually
  schedule:
    - cron: '0 0 * * 0'  # Runs every Sunday at midnight

jobs:
  update-mock-chirp:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6  # Check out the repository

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry install

    - name: Run update_mock_chirp.py
      run: |
        poetry run python src/wwara_chirp/update_mock_chirp.py